/* src/App.css */

body, h1, h2, h3, p, ul, li, nav, aside, main, header, footer, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #181818;
  color: #eeeeee;
}

.container {
  width: 85%;
  margin: 0 auto;
  background-color: #222;
  padding: 30px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

/* Flexbox Layout for Content */
.content {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
}
